<form class="animate" [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input
      #inputUsername
      type="text"
      placeholder="Enter Username"
      name="username"
      required
      formControlName="username"
    />

    <label for="password"><b>Password</b></label>
    <input
      #inputPassword
      type="password"
      placeholder="Enter Password"
      name="password"
      required
      formControlName="password"
    />
    <h4 *ngIf="error" style="color: red">{{ error }}</h4>
    <button #buttonLogin name="buttonLogin" class="login button" [disabled]="!loginForm.valid">
      Login
    </button>
  </div>
</form>
