<form class="animate">
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input
      #inputUsername
      type="text"
      placeholder="Enter Username"
      name="username"
      required
      [value]="username"
      (input)="setValueInput(inputUsername)"
      (keyup.enter)="onEnter(inputPassword)"
    />

    <label for="password"><b>Password</b></label>
    <input
      #inputPassword
      type="password"
      placeholder="Enter Password"
      name="password"
      required
      [value]="password"
      (input)="setValueInput(inputPassword)"
      (keyup.enter)="onEnter(buttonLogin)"
    />
    <h4 *ngIf="error" style="color: red;">{{error}}</h4>
    <div #buttonLogin name="buttonLogin" class="login" (click)="onLogin()">Login</div>
  </div>
</form>
