<button (click)="onShowModal($event)">Thêm mới</button>
<my-datatable
  (onLoad)="onLoad($event)"
  [columns]="listColumns"
  [isLoading]="isLoading"
  [rows]="data"
  [activePage]="page"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [totalRows]="total"
  [pagingMode]="mode"
>
</my-datatable>
<v-pagination
  [size]="pageSize"
  [sizeOption]="pageSizeOptions"
  (onPageSizeChange)="onPageSizeChange($event)"
  (onPageChange)="onPageChange($event)"
  [total]="total"
  [page]="page"
></v-pagination>
<v-modal [show]="showModal" (onClose)="onCloseModal($event)">
  <div class="modal-title">Modal</div>
  <div class="modal-content">Modal content</div>
</v-modal>
