<div class="table-menu">
  <div class="search-container">
    <input class="search-input" />
    <button class="button ml-10">Search</button>
  </div>
  <div class="button-group">
    <button class="button" (click)="onAddAccount()">Thêm mới</button>
  </div>
</div>
<my-datatable
  (onLoad)="onLoad($event)"
  [columns]="listColumns"
  [isLoading]="isLoading"
  [rows]="data"
  [activePage]="page"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [totalRows]="total"
  [pagingMode]="mode"
  (onViewRow)="onViewRow($event)"
  (onEditRow)="onEditRow($event)"
  (onRemoveRow)="onRemoveRow($event)"
  (onReload)="reloadTable()"
>
</my-datatable>
<v-pagination
  [size]="pageSize"
  [sizeOption]="pageSizeOptions"
  (onPageSizeChange)="onPageSizeChange($event)"
  (onPageChange)="onPageChange($event)"
  [total]="total"
  [page]="page"
></v-pagination>
<v-modal
  [type]="modalType"
  [show]="showModal"
  (onClose)="closeModal()"
  (onSave)="onSave($event)"
  (onEdit)="changeViewToEdit()"
  [data]="rowSelected"
>
</v-modal>
<v-confirm
  (onClose)="closeConfirmDelete()"
  (onDelete)="deleteAccount($event)"
  [account]="rowSelected"
  [show]="confirmDelete"
></v-confirm>
