<div class="table-container">
  <div class="table-wrapper" (scroll)="onScroll($event)">
    <table>
      <thead>
        <tr>
          <th scope="col" width="50px">STT</th>
          <th
            *ngFor="let column of columns"
            scope="col"
            [width]="column.width || 1"
          >
            {{ column.label }}
          </th>
          <th scope="col" width="70px">
            <i class="material-icons cursor-pointer" (click)="reloadTable()"
              >refresh</i
            >
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows; let i = index">
          <td data-label="STT" width="50px" [class]="i % 2 == 1 ? 'gray' : ''">
            {{
              pagingMode == "paging"
                ? pageSize * (activePage - 1) + i + 1
                : i + 1
            }}
          </td>
          <td
            *ngFor="let column of columns"
            [attr.data-label]="column.label"
            [width]="column.width || 1"
            [class]="i % 2 == 1 ? 'gray' : ''"
          >
            {{ row[column.field] }}
          </td>
          <td width="70px" [class]="i % 2 == 1 ? 'gray' : ''">
            <i
              class="material-icons hover cursor-pointer mr-5"
              style="color: seagreen"
              (click)="viewRow(row)"
              >remove_red_eye</i
            >
            <i
              class="material-icons hover cursor-pointer mr-5"
              style="color: #1976d2"
              (click)="editRow(row)"
              >edit</i
            >
            <i
              class="material-icons hover cursor-pointer"
              style="color: red"
              (click)="removeRow(row)"
              >delete_sweep</i
            >
          </td>
        </tr>
        <tr *ngIf="pagingMode == 'scroll' && maxPage > activePage">
          <td [attr.colspan]="columns.length + 2">
            <div class="d-flex align-center justify-center">
              <div class="loader mr-10"></div>
              Loading
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    *ngIf="(isLoading && pagingMode == 'paging') || keywordChangedLoading"
    class="loading"
  ></div>
</div>
