* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

.gray {
  background-color: #efefef;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table tr {
  background-color: #f8f8f8;
  padding: 0.35em;
}

table tbody tr {
  border: 1px solid #ddd;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table td {
  overflow: hidden;
  text-overflow: ellipsis;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  .table-wrapper {
    position: relative;
    border: 1px solid #ccc;
    max-height: 585px;
    overflow-y: auto;
  }

  .table-wrapper th {
    position: sticky;
    top: 0;
    background-color: #ddd;
  }

  .table-wrapper td {
    padding-top: 16px;
    padding-bottom: 16px;
  }

}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
    width: 100%;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
